database_url=postgresql+asyncpg://postgres:postgres@localhost:5432/ddss
app_name=DDSS API
CLASSIFIER_MODEL_PATH=models/densenet121_final.keras
FORECAST_MODEL_PATH=models/fill_forecast_rf.pkl
env=development
cors_origins=["*"]


jwt_secret=053e22b1b73247c293a7e25jscjdc8d9878uhsuhs78  
jwt_algorithm=HS256
jwt_expires_minutes=60
reset_token_expires_minutes=30
access_token_expire_minutes=60